body {
  font-family: sans-serif;
  background-color: rgb(160, 233, 109);
  text-align: center;
  margin: 20px;
}

h1 {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 200px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

#error-message {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}
